<div class="left_products" style="margin:0">
    <!--<img src="images/f_pic4.jpg" alt="" style="padding-top: 20px;" />-->
    <span data-bind="Picture"></span>
    <span id="spnRemove"><i class="fa fa-remove fa-2x"></i></span>
    <div class="left_text">
        <p style="margin-top:0"><a href="#" data-bind="Title"></a></p>
        <span id="priceOfTheBook" data-bind="Price">$72.00</span>
        <span data-bind="NewPrice"></span>
    </div>
    <div class="clear"></div>
</div>
<style>
    .fa-remove{
        cursor:pointer;
        padding-left:5px;
    }
</style>