
<div class="left_products" style="margin:0">
    <span data-bind="Picture"></span>

    <div class="left_text" display="inline-block">

        <p>Book:</p><p style="font-size:medium;margin-top:0; width:70px; margin-right:0; float:left"><h3 href="#" data-bind="Title"></h3></p>

        <p>ID:</p> <p style="font-size:medium;margin-top:0"><a href="#" data-bind="BookId"></a></p>

    </div>
    <div class="clear"></div>
</div>
<style>
    .fa-remove {
        cursor: pointer;
        padding-left: 5px;
    }
</style>