
<!-- start top_bg -->
<div class="top_bg">
<div class="wrap">
<div class="main_top">
	<h2 class="style" data-bind="Title"></h2>
</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<!-- start content -->
	<div class="single">
			<!-- start span1_of_1 -->
			<div class="left_content">
			<div class="span1_of_1">
				<!-- start product_slider -->
				<div class="product-view">
				    <div class="product-essential">
				        <div class="product-img-box">

				    <div class="product-image" data-bind="Picture"> 
				       <!--<img src="images/kozite.png" alt="kozite" title="kozite" />-->
				   </div>

				</div>
				</div>
				</div>
			<!-- end product_slider -->
			</div>
			<!-- start span1_of_1 -->
			<div class="span1_of_1_des">
				  <div class="desc1">
					<h3 data-bind="Title">Lorem ipsum dolor sit amet laoret.</h3>
					<h5 id="price" data-bind="Price">250 ден.</h5><h3><span data-bind="NewPrice"></span></h3>
					<div class="available">
						<div class="btn_form" style="margin-bottom:50px">
							<form>
                                <input type="hidden" id="hfSouvenirId" />
								<!--<input  type="submit" value="купи" title="" >-->
								<input class="button button-primary" value="додади во кошничка" id="btnAddToBucket" type="submit">
							</form>
						</div>
					</div>
			   	 </div>
			   	</div>
			   	
			   	<!-- start left content_bottom -->
			   	<div class="left_content_btm">
			   		<p class="para" data-bind="Description" style="margin-top:120px">

						– Вие Балканците никогаш нема вистински да ја разберете нашата благородна и хумана мисија со подарените сто европски кози!
						– Ниту вие нашите балкански кози и прчови! Не заборавајте дека љубовта на вашите европски кози и на нашите расни прчови ќе донесе на свет вистински европско-балкански козичиња. Во тоа јас го гледам успехот на вашата европска мисија во Македонија – Враќање на козите.

						Откако ја обиколија речиси цела книжевна Европа и Америка (преведени на дваесет јазици и објавени во триесет земји), овенчани со многу признанија, со најновиот роман Враќањето на козите, козите на Луан Старова стигнуваат во новата независна Република Македонија. Некогаш, во времето на тоталитаризмот, жртви на невиден „козоцид“, козите се враќаат преку европските патишта на солидарноста во новото време на транзицијата во новиот капиталистички систем. Но тука, и покрај слободата, стануваат жртви на мафијашки спреги и локални босови. Авторот и во оваа филозофска бајка продолжува автентично и книжевно суверено да го раскажува Балканот...

						Враќањето на козите од авторот на „Балканската сага“ од досега објавените книги Времето на козите, Татковите книги, Атеистички музеј, Балкански клуч, Ервехе, Тврдина од пепел, Патот на јагулите, Потрага по Елен Лејбовиц, Љубовта на генералот, Амбасади, Балканвавилонци, Полифонисти...

					</p>

			   	</div>
			   	<!-- end left content_bottom -->
		   	</div>
		<!-- start left_sidebar -->
			<div class="left_sidebar">
				<ul class="det_nav" id="catDetails">
				</ul>
					<div class="clear"></div>
				</div>

			</div>
          	    <div class="clear"></div>
	       </div>	
	<!-- end content -->




	</div>
</div>


