<!-- start slider -->
<div class="slider">
    <!---start-image-slider---->
    <div class="image-slider">
        <div class="wrapper">
            <div id="ei-slider" class="ei-slider">

                <ul class="ei-slider-large">
                    <li>
                        <img src="images/kniga1.jpg" alt="image06" />
                        <div class="ei-title"
                             style=" padding: 30px;background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60); border-radius: 20px">
                            <h2>Белетристика<br>факт за книгата:-</h2>
                            <h3 class="active">
                                Првата книга која е напишана со користење на машина <br>
                                за пишување била “Авантурите на Том Соер”.
                            </h3>

                        </div>
                    </li>
                    <li>
                        <img src="images/kniga2.jpg" alt="image01" />
                        <div class="ei-title"
                             style=" padding: 30px;background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60); border-radius: 20px">

                            <h2>Поезија <br> факт за книгата:-</h2>
                            <h3 class="active">
                                Луѓето во Исланд читаат повеќе книги по жител <br>
                                отколку во било која друга земја.
                            </h3>
                        </div>
                    </li>
                    <li>
                        <img src="images/kniga6.jpg" alt="image02" />
                        <div class="ei-title"
                             style=" padding: 30px;background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60); border-radius: 20px">
                            <h2>Здравје <br> факт за книгата:-</h2>
                            <h3 class="active">
                                Најстарата книга за готвење е напишана на глинена плоча од страна на
                                Акадијците. <br>
                                Таа датира до 1750 п.н.е. (во време на Хамураби) и ги содржи <br>
                                најстарите познати рецепти за готвење.
                            </h3>


                        </div>
                    </li>

                    <li>
                        <img src="images/kniga4.jpg" alt="image03" />
                        <div class="ei-title"
                             style=" padding: 30px;background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60); border-radius: 20px">
                            <h2>Филозофија <br> факт за книгата:-</h2>
                            <h3 class="active">
                                Се предвидува дека во рок од три години, 75% од книгите ќе се <br>
                                продаваат на интернет, а само 25% во книжарниците.
                            </h3>
                        </div>
                    </li>
                    <li>
                        <img src="images/kniga5.jpg" alt="image04" />
                        <div class="ei-title" style=" padding: 30px;background-color: #ffffff; opacity: 0.6; filter: alpha(opacity=60); border-radius: 20px">
                            <h2>Класична литература <br> факт за книгата:-</h2>
                            <h3 class="active">
                                Топ 3 најчитани книги во светот се: Библијата, Цитати од <br>
                                претседателот Mao Tse-Tung и Хари Потер.
                            </h3>
                        </div>
                    </li>

                </ul><!-- ei-slider-large -->
                <ul class="ei-slider-thumbs">
                    <li class="ei-slider-element">Current</li>
                    <li>
                        <a href="beletristika.html">
                            <span class="active">Белетристика</span>
                        </a>
                    </li>
                    <li class="hide1"><a href="poezija.html"><span>Поезија</span></a></li>
                    <li class="hide1"><a href="zdravje.html"><span>Здавје</span></a></li>
                    <li class="hide1"><a href="filozofija.html"><span>Филозофија</span> </a></li>
                    <li><a href="k_literatura.html"><span>Класична литература</span></a></li>

                </ul>

            </div>
        </div>
    </div>
</div>
<!-- start image1_of_3 -->
<div class="top_bg">
    <div class="wrap">
        <div class="main1">
            <div class="image1_of_3">
                <img src="images/img1.jpg" alt="" />
                <a href="" onclick="LoadSouvenirsOnSale(); return false;"><span class="tag">попуст</span></a>
            </div>
            <div class="image1_of_3">
                <img src="images/img2.jpg" alt="" />
                <a href="kategorii.html"><span class="tag">специјални понуди</span></a>
            </div>
            <div class="image1_of_3">
                <img src="images/img3.jpg" alt="" />
                <a href="kategorii.html"><span class="tag">мора да се има</span></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div class="top_main">
                <h2>ново</h2>

                <div class="clear"></div>
            </div>
            <!-- start grids_of_3 -->
            <div class="grids_of_3" id="souvenirsMain">
                <!--<div class="grid1_of_3">
                    <a href="detali.html">
                        <img src="images/kozite.png" alt="" />
                        <h3>Враќањето на <br>козите</h3>
                        <span class="price">250 ден.</span>
                    </a>
                </div>
                <div class="grid1_of_3">
                    <a href="detali.html">
                        <img src="images/patuvanjeto-na-eden-slon.png" alt="" />
                        <h3>Патувањето на <br>еден слон</h3>
                        <span class="price">400 ден.</span>

                        <span class="price1 bg">попуст</span>
                    </a>
                </div>
                <div class="grid1_of_3">
                    <a href="detali.html">
                        <img src="images/bernadet.png" alt="" />
                        <h3>
                            Дениција<br>
                            <hide>denicija</hide>
                        </h3>
                        <span class="price">360 ден.</span>
                        <span class="price1 bg1">нема<br>залихи</span>
                    </a>
                </div>-->

            </div>


        </div>

        <div class="clear"></div>

        <br><br>
    </div>
</div>