
<!-- start top_bg -->
<div class="top_bg">
<div class="wrap">
<div class="main_top">
	<h2 class="style">Контакт</h2>
</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="contact">				
				<div class="contact_left">
					<div class="contact_info">
			    	 	<h3>Можете да не најдете тука</h3>
			    	 		<div class="map">
					   			<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Faculty,+of,+Computer,+Science,+and,+Engineering,+Macedonia&amp;aq=4&amp;oq=light&amp;sll=0.04941,0.104628&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Faculty,+of,+Computer,+Science,+and,+Engineering,+Macedonia&amp;t=m&amp;z=14&amp;ll=42.0047685,21.40978&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Faculty,+of,+Computer,+Science,+and,+Engineering,+Macedonia&amp;aq=4&amp;oq=light&amp;sll=0.04941,0.104628&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Faculty,+of,+Computer,+Science,+and,+Engineering,+Macedonia&amp;t=m&amp;z=14&amp;ll=42.0047685,21.40978" style="color:#242424;text-shadow:0 1px 0 #ffffff; text-align:left;font-size:12px;padding: 5px;">View Larger Map</a></small>
					   		</div>
      				</div>
      			<div class="company_address">
				     	<h3>Информации за нас :</h3>
						    	<p>ул. Руѓер Бошковиќ 16,</p>
						   		<p>Пoштенски Фах 393,</p>
						   		<p>1000, Скопје, Р. Македонија </p>
				   		<p>Телефон: +389 2 308 8292</p>
				 	 	<p>Е-Маил: <a href="mailto:contact@finki.ukim.mk ">contact@finki.ukim.mk </a></p>
				   		<p>Следетене на: <a href="https://www.facebook.com">Facebook</a>
				   </div>
				</div>				
				<div class="contact_right">
				  <div class="contact-form">
				  	<h3>Контактирајте не</h3>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>Име</label></span>
						    	<span><input name="userName" type="text" class="textbox" required></span>
						    </div>
						    <div>
						    	<span><label>Е-Маил</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Мобилен</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>Содржина</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Испрати"></span>
						  </div>
					    </form>
				    </div>
  				</div>		
  				<div class="clear"></div>		
		  </div>
</div>
</div>
</div>
