<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style">Вашата кошничка</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="login_left">
		<h3>Производи <span id="allPrices" style="float:right; text-transform:lowercase"></span></h3>
        
	<!-- start registration -->
	<div class="registration">

	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="souvenirsFromBucket">
			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>


	<div class="login_left">
		<h3>Плаќање</h3>
		<br>
		<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form>



				<div>
					<label style="width:100%">
						<input placeholder="Број на картичка:" id="userNumCart" type="text" tabindex="1" required="required" autofocus="">
					</label>
				</div>
                <div>
                    <label style="width:100%">
                        <input placeholder="Адреса:" id="userAddress" type="text" tabindex="2" required="required" autofocus="">
                    </label>
                </div>


				<br>
				<div>
					<input type="submit" value="Плати" id="btnPay">
				</div>

			</form>
			<!-- /Form -->


			 <!-- The Modal -->
			 <div id="myModal" class="modal">

				 <!-- Modal content -->
				 <div class="modal-content" style="height:200px">
					 <span class="close">&times;</span>
					 <br>	 <br>
					 <h3>Ви благодариме за искажаната доверба!</h3>
					 <br>
					 <b>Вашата трансакција беше</b>	 <br>	 <br>
					 <b>успешно реализирана</b>
                     <br />
				 </div>

			 </div>
<br>
			 <div id="myModalNeuspesen" class="modal">

				 <!-- Modal content -->
				 <div class="modal-content">
					 <span class="close">&times;</span><br>	 <br>
					 <h3>Вашата трансакција неуспеа да се воспостави</h3>	 <br>	 <br>
					 <b>обидете се повторно!</b>
				 </div>

			 </div>
		</div>
	</div>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>