
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="min-height:517px">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Categories</div>

                    <div class="panel-options">
                        <button class="btn btn-success" id="addCategory">Add</button>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="categoriesTableBody">                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
