<div class="row">
    <div class="col-md-12" style="min-height:517px">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Souvenirs for delivery</div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Souvenirs</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Address</th>
                            <th>Delivered</th>
                        </tr>
                    </thead>
                    <tbody id="souvenirsForDeliveryTableBody"></tbody>
                </table>
            </div>
        </div>
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Delivered Souvenirs</div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="deliveredSouvenirsTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

