<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title" id="pnlTitle">Slider Photos</div>
            </div>
            <div class="panel-body">
                <div class="col s12 card">
                    <div class="card-title">
                        <div class="divider"></div>
                    </div>
                    <div class="card-content col s12">
                        <div class="s12">
                            <div class="dropzone" id="dropzoneForm">
                                <div class="fallback">
                                    <input name="file" type="file" />
                                    <input type="submit" value="Upload" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
                <div class="col-md-6">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Categories</div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr><th></th></tr>
                                    <!--<tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Price</th>
                                        <th></th>
                                        <th></th>
                                    </tr>-->
                                </thead>
                                <tbody id="sliderCategoriesTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Books</div>

                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr><th></th></tr>
                                    <!--<tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Price</th>
                                        <th></th>
                                        <th></th>
                                    </tr>-->
                                </thead>
                                <tbody id="sliderBooksTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
