<div class="row">
    <div class="col-md-12"  style="min-height:517px">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Souvenirs</div>

                <div class="panel-options">
                    <button class="btn btn-success" id="addSouvenir">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <!--<th>Author</th>-->
                            <th>Price</th>
                            <th>Recommended</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="souvenirsTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
